body, table, navigator-body {
  color: #ccc !important;
  background: #111 !important;
}
  
blockquote {
  border-left: 1px solid #3c78b5;
}

#descriptionArea {
  color: #FFF !important;
  font-weight: 700 !important;
  background: #333 !important;
  border: 1px solid #666 !important;
}

#descriptionArea li {
  color: #ccc !important;
}

p {
  color: #ccc !important;
  font-weight: 400 !important;
}

.actionContainer, .issuePanelContainer {
  background: none !important;
  border: 1px solid #333 !important;
}

.issue-data-block.focused {
  background: #444;
  background-color: #444;
}

.rowHeader th, tr.rowHeader th {
  background: #222 !important;
  border: 1px solid #333 !important;
  color: #ccc !important;
}

tr.rowHeader th a {
  color: #ccc !important;
}

.rowNormal td {
  background: #000 !important;
}

.rowAlternate td {
  background: #111 !important;
}

.action-links {
  color: #FFF !important;
  background: #222 !important;
}

.grid td {
  border: 1px solid #333 !important;
}

.footer {
  opacity: 0.1;
}

.code {
  border: 0;
}

.panelContent {
  background: #efefef !important;
  border: 1px solid #333 !important;
}

.navItem {
  background: none !important;
}

.logo {
  display: none !important;
}

#workflowactions,.operations,.header,.menu {
  opacity: 0.5;
}

.formtitle {
  color: #0087d7 !important;
}

.formtitle, #issuedetails b a {
  color: #0087d7 !important;
}

.page-type-split .navigator-group {
  background-color: #222 !important;
}

.issue-list>li.focused {
  background-color: #333 !important;
}

#issue-content {
  background-color: #222 !important;
}

.ghx-content-container, #ghx-pool, #ghx-column-header-group.ghx-fixed, .ghx-column-headers .ghx-column, .ghx-marker {
  background-color: #333;
}

#ghx-work {
  border-top: 1px solid #555;
}
  
.ghx-detail-contents {
  border: 1px solid #555;
  border-right: none;
  border-top: none;
}
  
.ghx-detail-view .text, .ghx-timetracking-inline-dialog-contents .text, .ghx-detail-view .password, .ghx-detail-view .select {
  box-shadow: none;
  border: 1px solid #666;
}

.saved-search-selector {
  background-color: #222 !important;
}

#search-header-view .header-section-primary h1 {
  color: #f2f2f2 !important;
  border: 1px solid #333 !important;
}

.operations>li {
  background-color: #f2f2f2 !important;
}

.criteria-list>li {
  background-color: #f2f2f2 !important;
}

.navigator-search {
  background-color: #222 !important;
}

.split-view #stalker, .split-view .issue-header {
  background-color: #333 !important;
}

#summary-val {
  color: #f2f2f2 !important;
}

.issue-header .issue-header-content>.command-bar {
  background-color: #222 !important;
}

.issue-header .issue-header-content {
  background-color: #222 !important;
}

.issue-header.detached {
  box-shadow: 0px 0px 15px 5px #222;
}

#issue-comment-add #comment {
  color: #ccc !important;
  background-color: #333 !important;
}

.issue-data-block.collapsed, .collapsed-comments, .issue-data-block:hover {
  background-color: transparent !important;
}

.issue-data-block, .collapsed-comments, .collapsed-comments .collapsed-comments-line {
  border-color: #666;
}

.collapsed-comments .show-more-comments {
  background-color: #181818;
  color: #ccc;
}

.collapsed-comments:hover .show-more-comments {
  background-color: #222;
}

.action-links .icon {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.issue-body-content .module>.mod-header>h1, .issue-body-content .module>.mod-header>h2, .issue-body-content .module>.mod-header>h3, .issue-body-content .module>.mod-header>h4, .issue-body-content .module>.mod-header>h5, .issue-body-content .module>.mod-header>h6 {
  background-color: #222 !important;
  color: #ccc !important;
}

.issue-body-content .module > .mod-header .ops {
  background-color: #333;
}

.editable-field:hover, .ghx-editable:hover {
  background-color: #333 !important;
  color: #ccc !important;
  box-shadow: 0 0 0 1px #666;
}

.ghx-editable::after {
  background-color: #222;
  border-left-color: #666;
}
  
.ghx-zone-cell {
  background: #444;
}

.ghx-target-hover, .ghx-zone-row.ghx-target-hover .ghx-zone-cell {
  background-color: #555;
}

#ghx-column-header-group.ghx-fixed, .ghx-column-headers .ghx-column.ghx-target-option, .ghx-column-headers .ghx-column.ghx-target-option.ghx-target-hover {
  background: #333;
}

form.aui.top-label .field-group>label,
.aui .checkbox > label,
.aui .radio > label {
  color: #ccc !important;
}
.aui-lozenge-complete.aui-lozenge-subtle, .aui-lozenge-error.aui-lozenge-subtle {
  background-color: #333;
  border-color: #666;
  
}
.aui-lozenge-complete.aui-lozenge-subtle {
  color: #6993bf;
}
.aui-lozenge-error.aui-lozenge-subtle {
  color: #ab534b;
}
.aui-dialog .dialog-button-panel button.button-panel-button {
  text-shadow: unset;
}
.aui-message.warning, .aui-message-warning, .aui-message.error, .aui-message-error {
  background: #333;
  border-color: #555;
}
.aui-message.warning::before, .aui-message-warning::before {
  border-color: #c0a152;
}
.aui-message.warning::after, .aui-message-warning::after {
  color: #202020;
}
.aui-dialog {
  background: #333;
  border: 1px solid #666;
}
.aui-dialog .dialog-title {
  border-bottom: 1px solid #666;
}
.aui-dialog .dialog-page-menu {
  border-right: 1px solid #666;
}
.aui-dialog .dialog-page-menu, .aui-dialog .dialog-page-body {
  background: #222;
}
.aui-dialog .dialog-page-menu li.page-menu-item.selected button.item-button {
  color: #ccc;
}
.aui-dialog .dialog-page-menu li.page-menu-item.selected button.item-button:hover, .aui-dialog .dialog-page-menu li.page-menu-item.selected button.item-button:focus, .aui-dialog .dialog-page-menu li.page-menu-item button.item-button:hover, .aui-dialog .dialog-page-menu li.page-menu-item button.item-button:focus {
  background-color: #444;
  color: #ccc;
}
.aui-dialog .dialog-page-menu li.page-menu-item button.item-button:active, .aui-dialog .dialog-page-menu li.page-menu-item.selected button.item-button:active, .aui-dialog .dialog-page-menu li.page-menu-item button.item-button:active, .aui-dialog .dialog-page-menu li.page-menu-item.selected button.item-button:active {
  background-color: #555;
  color: #ccc;
}
.aui-dialog .dialog-button-panel {
  border-top: 1px solid #555;
}
.aui-toolbar .toolbar-group .toolbar-trigger, .aui-toolbar .aui-dd-parent a.aui-dd-trigger {
  background-color: #555 !important;
  background: -webkit-linear-gradient(top,#444 0,#555 100%);
  background: -o-linear-gradient(top,#444 0,#555 100%);
  background: linear-gradient(to bottom,#444 0,#555 100%);
  text-shadow: 0 1px 0 black;
  color: #ccc !important;
}
.aui-toolbar .aui-dropdown2-trigger.toolbar-trigger.active, .aui-toolbar .toolbar-splitbutton:hover .toolbar-trigger, .aui-toolbar .toolbar-group .toolbar-trigger:focus, .aui-toolbar .toolbar-group .toolbar-trigger:hover, .aui-toolbar .toolbar-group button:focus, .aui-toolbar .toolbar-group button:hover, .aui-toolbar .aui-dd-parent .aui-dd-trigger:focus, .aui-toolbar .aui-dd-parent .aui-dd-trigger:hover, .aui-toolbar .toolbar-group .active .toolbar-trigger:hover, .aui-button, a.aui-button, .aui-button:visited, .aui-button:active, .aui-button.active, .aui-header .aui-button-split-more.active, .aui-button-subtle.aui-button:active, .aui-button-subtle.aui-button.active, .aui-button.aui-button-subtle.aui-dropdown2-trigger:hover, .aui-button.aui-button-subtle:active, .aui-button.aui-button-subtle.active, .operations > li a, .aui-dialog .dialog-button-panel button.button-panel-button{
  border: 1px solid #555;
  border-color: #555;
  background: #333;
  background-color: #333;
  color: #ccc !important;
} 
.aui-button[aria-pressed="true"], .aui-buttons .aui-button[aria-pressed="true"], .aui-buttons .aui-button.aui-button-primary[aria-pressed="true"], .aui-buttons .aui-button.aui-button-subtle[aria-pressed="true"], .operations > li a:hover {
  background: -webkit-linear-gradient(top,#111 0,#222 100%);
  background: -o-linear-gradient(top,#111 0,#222 100%);
  background: linear-gradient(to bottom,#111 0,#222 100%);
} 
.aui-button:focus, .aui-button:hover, .aui-button-subtle.aui-button:focus, .aui-button-subtle.aui-button:hover, .aui-buttons .aui-button:focus:not(.aui-button-primary), .aui-buttons .aui-button:hover:not(.aui-button-primary), .aui-buttons .aui-button:active:not(.aui-button-primary), .operations > li a, .aui-dialog .dialog-button-panel button.button-panel-button:focus, .aui-dialog .dialog-button-panel button.button-panel-button:hover, .aui-dialog .dialog-button-panel button.button-panel-button:active {
  background: #444;
  background-color: #444;
  color: inherit !important;
  border-color: #555;
}
  
.aui-inline-dialog .aui-inline-dialog-contents, .aui-inline-dialog .contents {
  background: #222;
  border: 1px solid #555;
}
  
.aui-message.hint, .aui-message-hint, .aui-message.info, .aui-message-info {
  background: #333;
  border: 1px solid #555;
}
  
.tt-empty-timesheet-state img {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.aui-sidebar .aui-sidebar-wrapper, .aui-sidebar-submenu .aui-sidebar-wrapper {
  background-color: #222;
  border-right: 1px solid #555;
}
  
.aui-sidebar[aria-expanded="false"] .aui-sidebar-footer, .aui-sidebar-submenu[aria-expanded="false"] .aui-sidebar-footer, .aui-sidebar .aui-sidebar-footer, .aui-sidebar-submenu .aui-sidebar-footer {
  border-top: 1px solid #555;
}
  
.aui-sidebar[aria-expanded="false"] .aui-sidebar-group-tier-one > .aui-nav > li, .aui-sidebar-submenu[aria-expanded="false"] .aui-sidebar-group-tier-one > .aui-nav > li {
  background: #999;
}
  
.aui-sidebar .aui-sidebar-footer > .aui-sidebar-settings-button:hover, .aui-sidebar-submenu .aui-sidebar-footer > .aui-sidebar-settings-button:hover, .aui-sidebar .aui-sidebar-footer > .aui-sidebar-toggle:hover, .aui-sidebar-submenu .aui-sidebar-footer > .aui-sidebar-toggle:hover, .aui-sidebar .aui-sidebar-footer > .aui-sidebar-settings-button:focus, .aui-sidebar-submenu .aui-sidebar-footer > .aui-sidebar-settings-button:focus, .aui-sidebar .aui-sidebar-footer > .aui-sidebar-toggle:focus, .aui-sidebar-submenu .aui-sidebar-footer > .aui-sidebar-toggle:focus {
  background: #444;
}

.aui-nav-item {
  background-color: #222;
}

.aui-nav-breadcrumbs>li.aui-nav-selected a, .aui-nav-breadcrumbs>li:last-child:not(:first-child) a {
  color: #fff !important;
}

.aui-icon {
  filter: brightness(175%);
  -webkit-filter: brightness(175%);
}

.tempo-stalker-content .stalker-content .issue-header-content {
  background: #222 !important;
}

.tempo .tempo-stalker-content.stalker-content.issue-header-content .aui-page-header,
.tempo .stalker .command-bar .aui-navgroup.aui-navgroup-horizontal.tempo-top-nav,
.aui-page-panel {
  background: #222;
}
  
.aui-page-panel {
  border: 1px solid #666;
}

.aui-navgroup-horizontal {
  border-bottom: 1px solid #666;
}

.aui-navgroup-horizontal .aui-nav > li a:hover, .aui-navgroup-vertical .aui-nav > li > a:hover, .aui-nav-vertical > li > a:hover, .aui-navgroup-horizontal {
  background-color: #333 !important;
}

.aui-navgroup-horizontal {
  border-top: 1px solid #666;
}

.aui-navgroup-horizontal .aui-nav>li a, .aui-navgroup-vertical .aui-nav>li>a, .aui-nav-vertical>li>a {
  background-color: #222 !important;
}

.aui-navgroup-horizontal .aui-nav>.aui-nav-selected a, .aui-navgroup-vertical .aui-nav .aui-nav-selected a, .aui-nav-vertical .aui-nav .aui-nav-selected a {
  background-color: #2a2a2a !important;
  color: #ccc !important;
}

.aui-button:focus, .aui-button:hover, .aui-button-subtle.aui-button:focus, .aui-button-subtle.aui-button:hover {
  background: #222;
  color: #666;
}

.content-container, .tempo-timesheet #issuetable {
  background: #222 !important;
}

.tempo-timesheet #issuetable .tt-right-border, .tempo-calendar #issuetable .tt-right-border {
  border-right: 1px solid #666;
}

.tempo-timesheet #issuetable .issuerow:hover td {
  border: 1px double #888;
}

.tempo-timesheet #issuetable tbody tr td {
  border-bottom: 1px solid #666;
}

.tempo-timesheet #issuetable td.tt-nonworking-days.edit-day:hover {
  background: #666 !important;
}

.tempo-timesheet #issuetable td.edit-day:hover {
  background: #555 !important;
}

.tempo-timesheet #issuetable td.tt-holiday.edit-day:hover {
  background: #614141 !important;
}

.tempo .stalker .command-bar {
  background-color: #222 !important;
}

#issuetable > tbody > tr:first-child > td, .issue-table > tbody > tr:first-child > td, #issuetable > tbody > tr:first-child > th, .issue-table > tbody > tr:first-child > th, #issuetable > tfoot > tr:first-child > td, .issue-table > tfoot > tr:first-child > td {
  border-top: 1px solid #666;
}

.tempo-timesheet #issuetable td.tt-nonworking-days, .tempo-calendar #issuetable td.tt-nonworking-days {
  background-color: #444;
}

.tempo-timesheet #issuetable td.tt-holiday {
  background-color: #4b3232;
}

.jira-dialog {
  border: 1px solid #555;
}

.jira-dialog .jira-dialog-heading {
  background: #333;
  border-bottom: 1px solid #666;
}

.jira-dialog .jira-dialog-content {
  background: #222;
}

.jira-dialog-content form.aui .buttons-container, .tempo .tempo-timeframe-container .buttons-container .buttons, .jira-dialog .buttons-container, .dashboard-item-content {
  background: #333;
  border-top: 1px solid #666;
}
  
.tempo .tempo-timeframe-container .aui-navgroup.aui-navgroup-horizontal {
  background-color: #333;    
}

.drop-menu:hover:after {
  border-top-color: initial !important;
}

.ajs-layer-placeholder {
  background-color: #444 !important;
  color: #ccc !important;
  
}
  
.ajs-layer {
  border: 1px solid #666;
  background-color: #333;
  
}

.aui-list a:link, .aui-list a:visited {
  color: #ccc;
  background-color: #333 !important;
  background: #333 !important;
}

.aui-list a:hover, .aui-list a:focus {
  color: #ccc;
  background-color: #444 !important;
  background: #444 !important;
}

.aui-list .aui-list-section + h5, .aui-list .aui-list-section + .aui-list-section {
  border-top: 1px solid #666;
}

.tabwrap>ul.tabs>li a, .tabwrap>ul.tabs>li a:link, .tabwrap>ul.tabs>li a:visited {
  background-color: #555 !important;
  background: -webkit-linear-gradient(top,#444 0,#555 100%);
  background: -o-linear-gradient(top,#444 0,#555 100%);
  background: linear-gradient(to bottom,#444 0,#555 100%);
  color: #ccc !important;
}

.tabwrap > .tabs.horizontal > li.active > a, .tabwrap > .tabs.horizontal > li.active > strong {
  background-color: #555 !important;
  background: -webkit-linear-gradient(top,#555 0,#444 100%);
  background: -o-linear-gradient(top,#555 0,#444 100%);
  background: linear-gradient(to bottom,#555 0,#444 100%);
  color: #ccc !important;
}

.activity-item-description blockquote {
  background-color: #444 !important;
  color: #ccc !important;
}

.activity-item-description .user-content {
  background-color: #444 !important;
  color: #ccc !important;
}

.twixi-block .verbose .flooded, .toggle-wrap .verbose .flooded p {
  color: #ccc !important;
}

.user-content-block p {
  color: #ccc !important;
}

.property-list strong {
  color: #ccc !important;
}

pre, code, .wiki-edit-content.previewClass {
  background-color: #444 !important;
  color: #ccc !important;
}

.aui-page-panel {
  background-color: #222 !important;
}

.aui-theme-default #content>.aui-page-header {
  background-color: #222 !important;
}

body, table {
  background-color: #222 !important;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  color: #ccc !important;
}

.wiki-syntax-examples p {
  color: #ccc !important;
}

div.wiki-edit .panel {
  border: 1px solid #666;
}
  
.dashboard-item-header {
  background-color: #146 !important;
}

.tabwrap > .tabs.horizontal > li {
  background-color: transparent;
}
#issuetable, .issue-table, #issuetable > tbody, .issue-table > tbody, .dashboard-item-content {
  background: #333 !important;
  background-color: #333 !important;
}

#issuetable > tbody > tr, .issue-table > tbody > tr {
  background-color: #222;
  color: #ccc;
}

#issuetable > tbody > .issuerow:hover, .issue-table > tbody > .issuerow:hover {
  background-color: #444 !important;
  background: #444 !important;
}
.worklogs-module.clear span.edit-container:hover {
  background: inherit !important;
}
.worklogs-module.clear tr.issuerow:hover td {
  background-color:#333;
}
.worklogs-module.clear span.tempo-inline-edit:hover {
  background: #3f3f3f !important;
  border: 1px solid #888 !important;
}

/** All the various borders and horizontal rules **/
.dashboard-item-header, .dashboard-item-content {
  border-color: #666 !important;
}

#dashboard, .jira-activity-item, .navigator-issue-only .issue-body-content, #activity-stream-show-more, .issue-header .issue-header-content > .command-bar, form.aui .text,
form.aui .password, form.aui .textarea, form.aui .select, form.aui .multi-select, form.aui .aui-select2-container .select2-choices,
.tabwrap > .tabs.horizontal > li.active > a, .tabwrap > .tabs.horizontal > li.active > strong,
.tabwrap > .tabs.horizontal, .tabwrap > .tabs.horizontal > li > a, .tabwrap > .tabs.horizontal > li > strong, .aui-toolbar .toolbar-group .toolbar-trigger, .aui-toolbar .aui-dd-parent a.aui-dd-trigger,
#issuetable > tbody > tr > th, .issue-table > tbody > tr > th, #issuetable > tbody > tr > td, .issue-table > tbody > tr > td, #issuetable > tfoot > tr > td, .issue-table > tfoot > tr > td, #attachment_thumbnails .attachment-content {
  border-color: #666;
}

.issue-body-content .module > .mod-header, .ghx-detail-section .ghx-header {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAGUlEQVR42h3GMQ0AAACDsKnFv4OR0KsL8CIPmQIyZeuRtQAAAABJRU5ErkJggg==);
}

.editable-field:hover, .editable-field.saving {
  box-shadow: 0 0 0 1px #666;
}

.editable-field .overlay-icon {
  background-color: #666;
  border-color: #666;
}

.editable-field .overlay-icon.aui-iconfont-edit {
  color: #222;
}

.item-attachments .attachment-content:hover {
  background-color: #393939;
}

.aui-toolbar .toolbar-group .toolbar-trigger, .aui-toolbar .aui-dd-parent a.aui-dd-trigger {
  cursor: pointer;
}

#activity-stream-show-more:hover {
  background-color: #111 !important;
}

#activity-stream-show-more:hover span {
  color: #ccc !important;
}

h1, h2, h3, h4, h5, .ghx-readonly, .ghx-detail-issue, .ghx-name, .aui-dropdown2.aui-style-default a, .panelContent, .subnav-page-header, table.aui > tbody > tr {
  color: #ccc !important;
}

.panelContent, #dashboard {
  background-color: #222 !important;
}

.panelHeader, div.wiki-edit .panelHeader {
  background-color: #555 !important;
}
  
.wiki-edit-toolbar, .wiki-edit-toolbar .wiki-edit-color-indicator {
  border: 1px solid #555;
}

.wiki-edit-toolbar a.wiki-edit-operation-color {
  border-right-color: #555;
}

.wiki-edit-toolbar .aui-buttons + .aui-buttons {
  border-left: 1px solid #555;
}

.editable-field form.aui .field-group .aui-ss, .editable-field form.aui .field-group .jira-multi-select, .editable-field form.aui .field-group .group, .editable-field form.aui .field-group input[type=text], .editable-field form.aui .field-group select, .editable-field form.aui .field-group textarea, .editable-field form.aui .field-group .text, .tempo-comment, .text, .textarea, .select2-input, textarea {
  background-color: #333 !important;
  color: #ccc !important;
}

.select2-search input.select2-input {
  background: #222;
}

.select2-search .select2-focused, .select2-search .select2-active {
  background: #444 !important;
}

form.aui .text, form.aui .password, form.aui .textarea, form.aui .select, form.aui .multi-select, form.aui .aui-select2-container .select2-choices {
  box-shadow: 0 1px 3px #222 inset;
}

.ghx-column-headers .ghx-column, .ghx-columns .ghx-column {
  background-color: #292929;
  border-color: #666;
}

.ghx-swimlane-header:after {
  background-color: #222;
  box-shadow: -5px 0px 10px 5px #222;
}
  
#ghx-plan, #ghx-report, #ghx-work {
  border-top: 1px solid #666;
}

#ghx-backlog, .ghx-backlog, .ghx-backlog-container, .ghx-issue {
  background: #222;
  background-color: #222;
  color: #ccc;
}
  
.ghx-issue {
  border: 1px solid #666;
}
  
.ghx-classification-item.ghx-selected {
  border-color: #666;
}
  
.ghx-version-expanded .ghx-classification-column, .ghx-epic-expanded .ghx-classification-column {
  border-left: 1px solid #666;
}

.ghx-epic-expanded .ghx-version-column {
  border-left: none;
}
  
.ghx-classification-item:hover, .ghx-issue:hover {
  background-color: #333;
}

.ghx-classification-item.ghx-selected, .ghx-issue.ghx-selected {
  background-color: #333;
  background: #333;
}
  
.ghx-classification-item.ghx-selected:hover, .ghx-issue:hover.ghx-selected {
  background-color: #444;
  background: #444;
}

#ghx-backlog, .ghx-backlog {
  border-left: 1px solid #666;
}

.ghx-backlog-container {
  border: 1px solid #666;
  border-left-color: #666;
}

.ghx-issue-compact, .ghx-issue-compact.ghx-selected {
  background: #222;
  color: #ccc;
  border: 1px solid #666;
}

.ghx-issue-compact .ghx-end, .ghx-issue-compact.ghx-selected .ghx-end, .ghx-issue .ghx-end {
  background: #222;
  box-shadow: none;
}

.ghx-issue-compact.ghx-selected .ghx-end, .ghx-issue-compact.ghx-selected, .ghx-issue.ghx-selected .ghx-end, .ghx-issue-compact:hover, .ghx-issue-compact:hover .ghx-end, .ghx-issue:hover .ghx-end {
  background: #333;
  box-shadow: none;
}

.ghx-issue-compact.ghx-selected:hover, .ghx-issue-compact.ghx-selected:hover .ghx-end, .ghx-issue.ghx-selected:hover .ghx-end {
  background: #444;
  box-shadow: none;
}
  
.ghx-agile .gh-shorten .gh-shortener-expand:hover, .ghx-agile .gh-shorten .gh-shortener-collapse:hover, .ghx-agile .gh-shorten .gh-shortener-expand:focus, .ghx-agile .gh-shorten .gh-shortener-collapse:focus {
  background-color: #444;
}
  
.ghx-ide-menu > li {
  color: #ccc;
}

.ghx-ide-menu > li:hover {
  background: #333;
}

.ghx-tv-message {
  background-color: rgba(255, 255, 220, 0.1);
}

.ghx-detail-contents {
  background-color: inherit;
  background-image: linear-gradient(to right, #444 0px, #444 41px, #222 42px, #222 100%);
}

.ghx-detail-section .ghx-header h3 {
  background-color: #222;
}
  
.ghx-detail-nav-item.ghx-selected {
  background: #555;
}

.aui-badge {
  background-color: #111;
  color: #ccc;
}
  
.aui-badge.ghx-in-progress {
  background: #846821;
}
  
.aui-avatar-inner img {
  filter: brightness(65%);
  -webkit-filter: brightness(65%);
}

.filter-list>li .filter-link:active, .filter-list>li .filter-link.active, .filter-list>li .filter-link:focus {
  background-color: #3F3F3F !important;
  color: #ccc !important;
}

#footer-logo {
  background-color: transparent !important;
}

.blender {
  background: none;
  background-image: linear-gradient(to right, rgba(51, 51, 51, 0), rgba(51, 51, 51, 1));
}

#attachment_thumbnails .attachment-content:hover .blender {
  background-image: linear-gradient(to right, rgba(57, 57, 57, 0), rgba(57, 57, 57, 1));
}

.pika-single {
  background: #222;
  border: 1px solid #555;
  color: #ccc !important;
}

.pika-label {
  background: transparent;
}

.pika-prev, .pika-next {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.pika-table tr td button {
  background: transparent;
}

.pika-table tr td.is-today {
  background: #444;
}

.pika-table tr td.is-empty {
  background: #2a2a2a;
}

#logo a img {
  -webkit-filter: grayscale(100%) brightness(130%);
  filter: grayscale(100%) brightness(130%);
}

nav.aui-header {
  background: #333;
  border-bottom: 1px solid #666;
}

.aui-header a:hover, .aui-header a:focus, .aui-header .aui-dropdown2-trigger:hover, .aui-header .aui-dropdown2-trigger:focus, .aui-header .aui-dropdown2-trigger.active {
  background-color: #222;
}

.aui-header .aui-button.aui-button-primary.aui-style {
  background-color: #555;
}

.aui-header .aui-button.aui-button-primary.aui-style:hover {
  background-color: #999;
}
  
.aui-button.ghx-dropdown-trigger::after, .aui-buttons .aui-button.aui-button-primary.ghx-dropdown-trigger::after, .aui-button.aui-dropdown2-trigger:not(.aui-dropdown2-trigger-arrowless)::after {
	border-top-color: #888;
}
  
.ghx-dialog .aui-button[disabled], .ghx-dialog .aui-button[aria-disabled="true"], #gh .aui-button[disabled], #gh .aui-button[aria-disabled="true"] {
  opacity: 0.5;
}
  
.aui-button[disabled], .aui-button[disabled]:hover, .aui-button[disabled]:focus, .aui-button[disabled]:active, .aui-button[aria-disabled="true"], .aui-button[aria-disabled="true"]:hover, .aui-button[aria-disabled="true"]:focus, .aui-button[aria-disabled="true"]:active, .aui-button[aria-disabled="true"][aria-pressed] {
  background: #444;
  color: #ccc;
  border-color: #666;
}

.content-container {
  border-style: none;
  border-width: 0 0;
}

.aui-select2-drop.select2-drop-above.select2-drop-active, ._sidebar__filter_selector___3-jqO {
  background: #222;
  border-color: #444;
}

.aui-dropdown2.aui-style-default .active {
  background-color: #555;
}
  
.aui-dropdown2.aui-style-default {
  background-color: #222;
  border: 1px solid #555;
} 
table.aui > tbody > tr, table.aui > thead {
  background: #222;
  border-bottom: 1px solid #666;
}
.wiki-edit-toolbar {
  background-color: #333;
}
.hint-container kbd {
  background-color: #444;
  color: #ccc;
  border: 1px solid #666;
  box-shadow: none;
}
.jira-icon-button {
  -webkit-filter: grayscale(100%) brightness(25%);
  filter: grayscale(100%) brightness(75%);
}
.ghx-controls-filters dd a:hover {
  border-color: #555;
}
.ghx-controls-filters dd a.ghx-active {
  background: #888;
}
.ghx-controls-filters dd a.ghx-active:hover {
  background: #999;
  border-color: inherit;
}
.subnav-trigger.aui-button.aui-dropdown2-trigger, span.subnav-trigger {
  color: #ccc !important;
}
._header__wc_header___2klhy, ._sidebar__sidebar_wrapper___6zaAl {
  background-color: #222;
}
._canvas__canvas_header_wrapper___1GbhN {
  background-color: #2c2c2c;
  box-shadow: none;
}
._canvas__day_today___3nlwC {
  background-color: #393939;
  box-shadow: none;
}
._canvas__day_header_content___ZXn3- {
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
}
._canvas__days_wrapper___2Gemc, ._sidebar__select_container___3gYfy {
  background-color: #222;
}
._canvas__day___2uUPt {
  background-color: #333;
  border-right: 1px solid #555;
}
._canvas__day___2uUPt:hover ._canvas__add_worklog_button___1cQWx {
  background: #555;
}
._canvas__add_worklog_button___1cQWx:hover {
  background-color: #666 !important;
}
._sidebar__bucket_item___15roY {
  background: #333;
  border-color: #444;
}
._sidebar__bucket_item___15roY:hover {
  border-color: #555;
  background-color: #3a3a3a;
}
._canvas__add_worklog_button___1cQWx {
  color: #ccc;
}
._sidebar__sidebar_toggle___HRSD5 {
  background: #3a3a3a;
  border-top: 1px solid #555;
  box-shadow: none;
}
.aui-header .aui-quicksearch input[type="text"] {
  background: #222;
  border: 1px solid #444;
  color: #ccc;
}
.aui-header .aui-quicksearch input[type="text"][type="text"]:focus {
  background: #111;
}
.aui-style-default .aui-dropdown2-section + .aui-dropdown2-section {
  border-top: 1px solid #666;
}
.alertHeader {
	display: none;
}
.calendar, .calendar table {
  background-color: #222;
}
div.calendar, .calendar {
  border: 1px solid #555;
  box-shadow: none;
}
.calendar .headrow {
  background-color: #333;
}
.calendar .headrow td {
  border-top: 1px solid #555;
}
.calendar .daynames td.wn, .calendar .daynames td, .calendar table .wn {
  background-color: #333;
  color: #ccc;
}
.calendar .rowhilite, .calendar .rowhilite .wn {
  background-color: #444;
}
.calendar tbody td.selected {
  background-color: #555;
  color: #ccc;
}
.calendar td.hilite, .calendar .combo .hilite, .calendar td.time span.hilite {
  background-color: #555;
}
.calendar td.time {
  background-color: #222;
  border-top: 1px solid #555;
}
.calendar td.time span, .calendar td.time .colon {
  background-color: #222;
}
.ghx-swimlane-header .ghx-bandaid {
  background-color: inherit;
  box-shadow: none;
}
.ghx-swimlane-header.ghx-selected, .ghx-swimlane-header.ghx-selected:after {
	background-color: inherit;
    box-shadow: none;
}
.two-d-container table.aui tbody .totals {
  /*background-color: inherit;*/
}
table.aui>tbody>tr>th {
	color: inherit;
}
.two-d-container table.aui tbody .totals {
	background-color: #222;
}
table.aui.aui-table-interactive>tbody>tr:hover {
	background-color: #3a3a3a;
}
.operations>li {
    background-color: #888 !important;
}
.operations>li, .operations>li:focus, .operations>li:hover {
	color: #fff;
}

.aui-button[aria-pressed="true"], .aui-buttons .aui-button[aria-pressed="true"], .aui-buttons .aui-button.aui-button-primary[aria-pressed="true"], .aui-buttons .aui-button.aui-button-subtle[aria-pressed="true"], .operations > li a:hover {
	background: #555;
}
.details-layout .split-view .list-results-panel {
	border-right-color: #666;
}
.details-layout .split-view .list-results-panel .count-pagination {
	border-top-color: #666;
}
.details-layout .split-view .list-results-panel .list-panel .issue-list>li {
	border-bottom-color: #666;
}
.navigator-sidebar {
	border-right: 1px solid #666;
}
.filter-panel-section {
	border-top: 1px solid #666;
}
.filter-list>li:hover, .filter-list>li.hover {
	background-color: #363636;
}
.aui-button.aui-button-light, a.aui-button.aui-button-light, .aui-button:visited.aui-button-light {
	background-color: #333;
}
  .ghx-swimlane-header.ghx-selected .ghx-bandaid {
    background-color: inherit;
    box-shadow: none;
  }
  
.navigator-content, .contained-content {
	background-color: #222;
}
#issuetable tr.focused, .issue-table tr.focused {
	background-color: #333;
}
.aui-dropdown2.aui-style-default:hover .aui-dropdown2-checkbox, .aui-dropdown2.aui-style-default:hover .aui-dropdown2-radio, .aui-dropdown2.aui-style-default:hover a {
  background-color: #222;
}
.ghx-issue-compact.ghx-selected.ghx-flagged, .ghx-issue-compact .ghx-selected-group.ghx-flagged, .ghx-issue-compact.ghx-flagged.ghx-selected .ghx-end {
  background: #39321d;
}
.ghx-issue-compact.ghx-flagged.ghx-selected .ghx-end {
  -webkit-box-shadow: -4px 0 3px #39321d;
  box-shadow: -4px 0 3px #39321d;
  -webkit-box-shadow: -4px 0 3px #ffd351,0 -3px 3px #ffd351;
  box-shadow: -4px 0 3px #39321d,0 -3px 3px #39321d;
}
.ghx-issue-compact.ghx-selected:hover, .ghx-issue-compact.ghx-selected:hover .ghx-end, .ghx-issue.ghx-selected:hover .ghx-end {
  background: #453c23;
}
.ghx-issue-compact.ghx-flagged:hover .ghx-end, .ghx-issue-compact.ghx-flagged.ghx-selected:hover .ghx-end {
  background: #453c23;
  -webkit-box-shadow: -4px 0 3px #453c23;
  box-shadow: -4px 0 3px #453c23;
  -webkit-box-shadow: -4px 0 3px #ffd351,0 -3px 3px #ffd351;
  box-shadow: -4px 0 3px #453c23,0 -3px 3px #453c23;
}
